repositories:
  - name: envoyproxy
    url: docker.io/envoyproxy
    oci: true
  - name: argocd
    url: https://argoproj.github.io/argo-helm

releases:
  # cert-manager는 Terraform에서 관리 (terraform-eks/cert-manager.tf)
  - name: envoy-gateway
    namespace: envoy-gateway-system
    chart: envoyproxy/gateway-helm
    version: 1.6.1
    # values:
    #   - envoy-gateway-value.yaml
    wait: true
  - name: argocd
    namespace: argocd
    chart: argocd/argo-cd
    version: 9.2.3
    values:
      - values/argocd.yaml
    wait: true